[submodule "bine-model"]
	path = bine-model
	url = git@github.com:hegdeprajwal/bine-model.git
[submodule "darch-model"]
	path = darch-model
	url = git@github.com:hegdeprajwal/darch-model.git
[submodule "microbench"]
	path = microbench
	url = git@github.com:hegdeprajwal/VR_MicroBench.git
